@import "https://fonts.googleapis.com/css?family=Comfortaa:400,700|Fredoka+One|Nunito:400,800,900|Poiret+One|Quicksand:400,500,700";


body {
    font-family: "comfortaa", sans-serif;

}

* {
  margin: 0;
  padding: 0;
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    width: 100%;
}

header li{
    float: right;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #6e6e6e;
}

.sections {
    padding: 20px;
    padding-top: calc(46.4px + 20px);
}


.flex-container {
    margin: 0px 20px;
    padding: 0px 20px;
    padding-top: ;
    height: 250px;
    background: #f5f5f5;
    text-align: center;
    line-height: 25px;
}


.flex-left{
    width: 25%;
    float: left;
    padding: 0px 20px;
}

.flex-left img{
    height: 250px;
    border-radius: 100%;
}

.flex-right{
    float: left;
    width: calc(100% - 25% - 80px);
    padding: 0px 20px;
    height: 250px;
}

.flex-right p{
    padding-top: 80px;
    height: calc(250px - 80px);
}

.flex-right p img{
    height: 25px;
}

#section-skills {
    margin: 0px 20px;
    padding: 0px 20px;
    list-style: none;
}

#section-skills ul li{
    display: flex;
    align-items: center;
    font-weight: bolder;
}


.icons li img {
    height: 25px;
    margin: 5px;
}

.section-projects{
    margin: 0px 20px;
    padding: 0px 20px;
}

.section-contact{
    margin: 0px 20px;
    padding: 0px 20px;
}

footer {

    height: 80px;
    /* padding-top: 18px; */
    background-color: #000;
    color: #f5f5f5;
    text-align: center;
    align-items: center;
    width: 100%;
}
footer div{
    padding: 10px;
}
footer li {
    align-items: center;
    display: inline;
}
footer li img{
    height: 20px;
}



