@media screen and (max-width: 980px) {
    .flex-container{
        height: 500px;
        align-items: center;
    }
    .flex-right{
        width: 100%;
    }
    .flex-left{
        width: 100%;
    }

    .flex-right p{
        padding-top: 20px;
    }
}


@media screen and (max-width: 400px) {
    header ul {
      text-align: center;
    }
    header ul li {
      margin: 20px;
    }
    /* .project {
      margin: 40px 0;
    } */


}
  
@media screen and (max-width: 523px){
    .section{
        padding: 20px;
        padding-top: calc(92.8px + 20px);
    }
}